doctype html
html
	head
		title= title
		script(src='https://code.createjs.com/easeljs-0.8.2.min.js')
		script(src='https://code.createjs.com/tweenjs-0.6.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/game.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(onload='init()')
		canvas#canvas
		div#startMenu
			h1 Welcome to Bomb.io :)
			input#playerNameInput(type='text' autofocus placeholder='Enter your name here.' maxlength='20')
			h3 Press Enter to play
