html, body {
	margin: 0px;
	overflow: hidden;
}

#canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

#startMenu {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(69, 69, 69, 0.5);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input[type=text] {
	max-width: 500px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 4px solid white;
	border-radius: 6px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	outline: none;
	font-size: 30pt;
	text-align: center;
	background-color: transparent;
	color: white;
}

input[type=text]:focus {
	border: 4px solid #FF4081;
}

#statusPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	padding: 0px 8px;
}

div.property {
	flex-grow: 1;
	max-width: 200px;
	padding: 0px 8px;
	display: flex;
	flex-direction: column;
}

div.propNameBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

span.propName {
	color: white;
	font-size: 10pt;
}